page-bubble-iconpage {
    .tabs .tabbar{
        background-color: #fff;
        padding: 10px 0;
    }
    .tabs .tab-button, .tabs .tab-button-icon{
        color: #808080;
        display: block;
        white-space: nowrap;
    }
    .tabs .tab-button {
        overflow: hidden;
        max-width: 35px;
        margin: 0 15px;
        border-radius: 35px;
        // transition-property: max-width, width;
        // transition-duration: 1s, 1s;
        // transition-delay: 0s, 0s;
        transition: max-width 0.2s ease-in-out;
        .button-effect {
            visibility: hidden;
        }
        *{
            -webkit-box-flex: 1;
            -webkit-flex: auto;
            -ms-flex: auto;
            flex: auto;
            display: inline-block;
            vertical-align: middle;
            padding: 16px 5px;
        }
        .tab-button-text{
            transition: none;
            width: 0px;
            transition: width 1s ease-in-out;
        }
        &[aria-selected=true]{
            color: #fff;
            background: #808080;        
            max-width: 300px;
            // transition-property: max-width, width;
            // transition-duration: 1s, 1s;
            // transition-delay: 0s, 0s;
            .tab-button-text{
                transition: none;
                width: auto;
            }
            .button-effect {
                visibility: visible;
            }
        }
        .icon{
            margin: 0 5px;
        }   
    }
}
