page-animate-icons {
    
}

.animate-icons-menu{
    text-align: center;
    //transform: scale(5) translate(-20px, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    ul,ol{
        list-style: none;
        padding: 0px;
        li{
            display: inline-block;
        }
    }
}

.aim-folder{
    
   
    .aim-folder--back{
        display: inline-block;
        width: 52px;
        height: 44px;
        background: #5628EE;
        border-radius: 0 3px 3px 3px;
        position: relative;
        margin: 2px 0 0 0;
        -webkit-perspective: 100px;
        perspective: 100px;
        

        &:before {
            content: '';
            border-radius: 2px 2px 0 0;
            background: inherit;
            height: 6px;
            width: 30px;
            display: block;
            position: absolute;
            top: -4px;
            left: 0;
        }
    }

    .aim-folder--front{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 32px;
        background: #8C6FF0;
        border-radius: 2px 2px 3px 3px;
        z-index: 2;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, 
        -webkit-transform .5s ease;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        transform: rotateX(10deg);
    }

    .aim-folder--icon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        transform: translate(-50% , -20%);
        >*{            
            -webkit-transition: all 0.5s ease-in;
                transition: all 0.5s ease-in;
        }
    }

    ol{
        display: block;
        // -webkit-perspective: 100px; /* Safari 4-8  */
        // perspective: 100px;
        width: 100%;
        height: 40px;
        margin-top: 5px;

        li{
            display: inline-block;
            // -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
            -webkit-transform: translate(-50%,-50%); /* Safari 3-8  */
            // transform-style: preserve-3d; 
            transform: translate(-50%,-50%);
            position: absolute;
            top: 60%;
            left: 50%;
            opacity: 0.9;
            -webkit-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            
            .aim-file{
                transform: rotate(90deg);
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                display: block;
                -webkit-transition: all 0.5s ease-in;
                transition: all 0.5s ease-in;
                
                
            }

            &:nth-child(1){
                .aim-file{
                    transform: translate(0, -8px) rotate(90deg) scale(0.8);                    
                }
            }
            &:nth-child(2){
                .aim-file{
                    transform: translate(0, -4px) rotate(90deg) scale(0.9);                    
                }
            }
            &:nth-child(3){
                opacity: 1;
                .aim-file{
                    transform: translate(0, 0px) rotate(90deg);                    
                }
            }
        }
    }

    .aim-file{
        background-color: #fff;
        border-radius: 3px;        
        width: 35px;
        height: 40px;
        padding-top: 10px;

        // --translateY: 0;
        // --translateX: 0;
        // --scale: .92;
        // bottom: 0;
        // left: 6px;
        // position: absolute;
        //transition: -webkit-transform .45s ease;
        // transition: transform .45s ease;
        // transition: transform .45s ease, 
        // -webkit-transform .45s ease;
        // -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX)) scaleX(var(--scale));
        // transform: translateY(var(--translateY)) translateX(var(--translateX)) scaleX(var(--scale));
    }

    a{
        &:hover{
            text-decoration: none;
        }
    }

    &.open{

        ol{
            li{
                opacity: 1;
                &:nth-child(1){
                    .aim-file{
                        transform: translate(-60px, -67px) rotate(0deg) scale(1);
                    }
                }
                &:nth-child(2){
                    .aim-file{
                        transform: translate(0, -90px) rotate(0deg) scale(1);
                    }
                }
                &:nth-child(3){
                    .aim-file{
                        transform: translate(60px, -67px) rotate(0deg);
                    }
                }
            }
        }

        .aim-folder--front{
            transform: rotateX(-20deg);
        }

        .aim-file{
            &.word{
                background: #DAEDFE;
                color: #46A7FE;
            }
            &.power-point{
                background: #FDE5E1;
                color: #F57F65;
            }
            &.excel{
                background: #D4F5DF;
                color: #2ACF62;
            }
        }

        .aim-folder--icon {
            >*{
                transform: rotate(45deg);
            }
        }

    }// open


}// .aim-folder

.enable-hover a{
    opacity: 1 !important;
}
