// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ruler {
    /* position: absolute;
    top:0; left:0; */
    //width: 100%; 
    height: 50px;
    background: #eee; 
    color: #000;
    font-family: arial;
    font-size: 12px; line-height: 14px;
    border-bottom: 1px solid;
    overflow: hidden;
    z-index: 9;
    position: relative;
    white-space: nowrap;
}
.ruler.fixed{
    // position: fixed;
    // top: 0;
}
.ruler > div {
    display: inline-block;
    background: #000;
}
.ruler .ruler-line{
    position: relative;
    margin-left: 1px;
    width: 3px;
    height: 100%;
    text-indent: 1px;
    line-height: 20px;
    font-size: 0px;
    background-color: #8e8e8e;
}


.ruler .tickLabel {
    position:relative;
    top: -10px;
    margin-left: 4px;
    width: 1px;
    height: 100%;
    text-indent: 1px;
    line-height: 20px;
    font-size: 0px;
}
.ruler .tickLabel:first-of-type {
    margin-left: 0px;
}
.ruler .tickMajor {
    margin-top: 19px;
    margin-left: 4px;
    width: 1px;
    height: 6px;
}
.ruler .tickMinor {
    margin-left: 4px;
    width: 1px;
    height: 48px;
}
.ruler .pointer {
    position: absolute;
    top: 0;
    /* left: 10%; */
    height: 100%;
    width: 2px;
    background-color: #ef0000!important;
    bottom: 0;
    z-index: 9;
    opacity: 0.5;

  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}
.ruler .pointer:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 8px solid #ef0000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
