<!-- <animated-header [opacityFactor]="2">
</animated-header> -->
<!--

  <ion-header #ionHeader>

    <ion-title>
        <div class="type">
              Type of Transaction/IBAN/Moblie Number
        </div>
    </ion-title>

    <ion-navbar>
      <ion-row>
        <ion-col class="center">
            <ion-icon name="paper"></ion-icon>
            <p>Pay Utilies Bill</p>
        </ion-col>
        <ion-col class="center">
            <ion-icon name="ios-globe"></ion-icon>
            <p>Make a Bank Transfer</p>
        </ion-col>
        <ion-col class="center">
            <ion-icon name="tablet-portrait"></ion-icon>
            <p>Send Money via Moblie</p>
        </ion-col>
        <ion-col class="center">
            <ion-icon name="tablet-portrait"></ion-icon>
            <p>Top Up Moblie Credit</p>
        </ion-col>
      </ion-row>
    </ion-navbar>

  </ion-header>

  <div id="fixed-menu-button" #fixedMenuButton padding>
      <ion-row>
          <ion-col>
              <div class="headertext">
                  <p>What would you like to do?</p>
                          </div>
                          <div class="type">
                  Type of Transaction/IBAN/Moblie Number
                          </div>
          </ion-col>
        </ion-row>
            <ion-row>
              <ion-col>
                <div class="trans">
                    <ion-icon name="paper"></ion-icon>
                    <p>Pay Utilies Bill</p>
                </div>
              </ion-col>
              <ion-col>
                  <div class="trans">
                      <ion-icon name="ios-globe"></ion-icon>
                      <p>Make a Bank Transfer</p>
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="trans">
                      <ion-icon name="tablet-portrait"></ion-icon>
                      <p>Send Money via Moblie</p>
                  </div>
                </ion-col>
                <ion-col>
                    <div class="trans">
                        <ion-icon name="tablet-portrait"></ion-icon>
                        <p>Top Up Moblie Credit</p>
                    </div>
                  </ion-col>
              </ion-row>
  </div>
    -->

    <ion-header #ionHeader class="main-header beforeChanged">
        <ion-navbar>
            <ion-row>
                <ion-col>
                    <div class="headertext">
                        <p>What would you like to do?</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-navbar>

        <ion-title>
            <div class="type">
                  Type of Transaction/IBAN/Moblie Number
            </div>
        </ion-title>
    
        
            
          <ion-row class="utiles">
            <ion-col class="center">
                <ion-icon name="paper"></ion-icon>
                <p>Pay Utilies Bill</p>
            </ion-col>
            <ion-col class="center">
                <ion-icon name="ios-globe"></ion-icon>
                <p>Make a Bank Transfer</p>
            </ion-col>
            <ion-col class="center">
                <ion-icon name="tablet-portrait"></ion-icon>
                <p>Send Money via Moblie</p>
            </ion-col>
            <ion-col class="center">
                <ion-icon name="tablet-portrait"></ion-icon>
                <p>Top Up Moblie Credit</p>
            </ion-col>
          </ion-row>
       
    
      </ion-header>
    
    <ion-content fullscreen #ionContent padding>

    <ion-navbar color="primary" id="second-header" #secondHeader>
       
        <ion-grid>
            <div class="ed">
               <p>Contact</p>
            </div>
            <ion-row *ngFor="let contact of contactList" class="contact">
                <ion-col col-2>
                    
                    <ion-avatar *ngIf="contact.image" item-start>
                      <img [src]="contact.image">
                    </ion-avatar>
                  </ion-col>
              <ion-col col-6 class="detail">  
          {{contact.name}}
          <p>{{contact.number}}</p>
        
                  </ion-col>
                <ion-col col-3 class="icon">
                <ion-icon name="ios-call"></ion-icon>
                </ion-col>
            </ion-row>
             <!-- <ion-row *ngFor="let item of Data" class="contact">
                 <ion-col col-2>
                     
                     <ion-avatar  item-start>
                       <img [src]="item.imgUrl">
                     </ion-avatar>
                   </ion-col>
               <ion-col col-6 class="detail">  
           {{item.Name}}
           <p>{{item.PakAmount}}</p>
         
                   </ion-col>
                 <ion-col col-3 class="icon">
                 <ion-icon name="ios-call"></ion-icon>
                 </ion-col>
             </ion-row> -->
           </ion-grid>
            
    </ion-navbar>

    


  </ion-content>


